<div class="content">
    <div class="container-title">
        <h1 class="title">
            Welcome to <span class="chefs">Chef’s Mate</span> 
        </h1>
        <img class="smile" src="../../assets/imgs/smile.svg" alt="">
    </div>
    <div class="container-illustration">
        <img class="illustration" src="../../assets/imgs/illustration.svg" alt="">
    </div>
    <h2 class="subtitle">
        We are preparing
    </h2>
    <div class="container-inputs">
        <input type="email" placeholder="YOUR EMAIL">
        <button>NOTIFY-ME</button>
    </div>
</div>